* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

#saveBtn {
  padding: 20px 40px;
  font-weight: 800;
  margin: 10px;
}

.card {
  width: 250px;
  height: 120px;
  background-color: red;
  padding: 20px;
  animation: move-up 350ms ease-in-out;
}

@keyframes move-up {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}

.title {
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
}
